<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arjo129.artest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/my_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".places.PlacesToGo"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".places.PlacesLectureTheatres"
            android:label="@string/places_lt"
            android:parentActivityName=".places.PlacesToGo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".places.PlacesToGo" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".places.PlacesToGo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".places.PlacesToGo" />
        </activity>
        <activity android:name=".ARActivity" />
        <activity
            android:name=".CompassActivity"
            android:label="Compass"
            android:parentActivityName=".places.PlacesToGo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".places.PlacesToGo" />
        </activity>
        <activity
            android:name=".WifiActivity"
            android:label="Wifi Scans"
            android:parentActivityName=".places.PlacesToGo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".places.PlacesToGo" />
        </activity>
        <activity
            android:name=".CollectData"
            android:label="Collecting Wifi-points"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".places.PlaceLevel1"
            android:parentActivityName=".places.PlacesLectureTheatres">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".places.PlacesLectureTheatres" />
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="Indoor Map"
            android:parentActivityName=".places.PlacesLectureTheatres"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".places.PlacesLectureTheatres" />
        </activity>

        <activity
            android:name=".datacollection.UploadConfirmation"
            android:parentActivityName=".CollectData"
            android:label="@string/title_activity_upload_confirmation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CollectData" />
        </activity>
        <service
            android:name=".indoorLocation.WifiService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".arrendering.StaircaseActivity"></activity>
    </application>

</manifest>