<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arjo129.artest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".PlacesToGo"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlacesLectureTheatres"
            android:label="@string/places_lt"
            android:parentActivityName=".PlacesToGo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlacesToGo" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".PlacesToGo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlacesToGo" />
        </activity>
        <activity android:name=".ARActivity" />
        <activity
            android:name=".CompassActivity"
            android:label="Compass"
            android:parentActivityName=".PlacesToGo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlacesToGo" />
        </activity>
        <activity android:name=".WifiActivity"
            android:label="Wifi Scans"
            android:parentActivityName=".PlacesToGo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlacesToGo" />
        </activity>
    </application>

</manifest>